.containerPainel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 253px);
}

.containerPainel button{
    padding: 5px;
    width: 250px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #ccc;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.containerPainel button:hover{
    background-color: rgb(203, 203, 203);
    transition: ease all 0.2s;
}